:root {
    --primary: #1C646D;
    --secondary: #A0CD60;
    --bg: #38184C;
    --stroke-width: 18%;
    --secondary-stroke-width: calc(var(--stroke-width)/2)
}

body {
    background-color: var(--bg);
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

.svg-container {
    width: 100%;
    /* Full width of the parent */
}

.logo-svg {
    width: 20vw;
    /* Responsive width */
    height: auto;
    /* Maintain aspect ratio */
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    padding: 1vw;
    box-sizing: border-box

}

.primary-path {
    stroke: var(--primary);
    stroke-width: var(--stroke-width);
}

.secondary-path {
    stroke: var(--secondary);
    stroke-width: var(--stroke-width);
}

.tertiary-path {
    stroke: var(--bg);
    stroke-width: var(--secondary-stroke-width);
}